# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Core5_VueJs.iml
# Datasource local storage ignored files
/../../../../../../:\projects\Core5_VueJs\.idea\.idea.Core5_VueJs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
